<h2>Add a task in $category.getName():</h2>

<ol>
#foreach ($task in $category.getTasks())
  <li>$task.getDescription()</li>
#end
</ol>


<form action="/categories/$category.getId()/delete" method="post">

  <button type="submit" class="btn btn-danger">Delete this category</button>
</form>

<form action="/categories/$category.getId()/update">

  <button type="submit" class="btn btn-info">Update this category</button>
</form>

<a href="/">Go back</a><br>
